## Task 2

In [ ]:
def task2():
  my_dict = {}
  figure = input('Выберите фигуру: треугольник, круг, прямоугольник: ')
  if figure == 'треугольник':
    a = int(input('Введите длину основания: '))
    b = int(input('Введите длину высоты: '))
    my_dict['треугольник'] = a*b/2
  if figure == 'круг':
      a = int(input('Введите радиус: '))
      my_dict['круг'] = 3.14*a**2
  if figure == 'прямоугольник':
      a = int(input('Введите длину одной стороны: '))
      b = int(input('Введите длину другой стороны: '))
      my_dict['прямоугольник'] = a*b
  return my_dict

In [ ]:
task2()

Выберите фигуру: треугольник, круг, прямоугольник: круг
Введите радиус: 5

{'круг': 78.5}

## Task 3

In [ ]:
def task3(a, b, op):
  if op == 'abs':
    return abs(a)
  try:
    return eval(f'{a} {op} {b}')
  except:
    print("Error")

In [ ]:
task3(3, 2, '*')

6

## Task 4

In [ ]:
lst = []
lst.append(int(input("Введите число: ")))
while sum(lst) != 0:
  lst.append(int(input("Введите число: ")))
print(sum([x ** 2 for x in lst]))

Введите число: 5
Введите число: -5
50

## Task 5

In [ ]:
a = int(input('Введите длину списка: '))
lst = []
k = 1
while len(lst) < a:
  lst.extend([int(x) for x in (str(k) * k)])
  k+=1
print(*lst[:a])

Введите длину списка: 10
1 2 2 3 3 3 4 4 4 4

## Task 6

In [ ]:
A = [1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 5, 4, 3, 2]
B = ['a', 'b', 'c', 'c', 'c', 'b', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'a']
new_dict = {}
for i, j in enumerate(B):
    new_dict[j] = new_dict.get(j, 0) + A[i]
new_dict

{'a': 17, 'b': 11, 'c': 17}

## Task with data

In [ ]:
from sklearn.datasets import fetch_california_housing
import pandas as pd
import numpy as np
data = fetch_california_housing(as_frame = True)
df = pd.DataFrame(data=data.data )

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [ ]:
df.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [ ]:
df.loc[(df['HouseAge'] > 50) & (df['Population'] > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41

In [ ]:
df.median().min(), df.median().max()

(-118.49, 1166.0)

In [ ]:
df.apply(np.mean)

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64

## Task 1*

In [ ]:
morze = {'a': '.-', 'b': '-…', 'c': '-.-.', 'd': '-..',
         'e': '.', 'f': '..-.', 'g': '--.', 'h': '….',
         'i': '..', 'j': '.---', 'k': '-.-', 'l': '.-..',
         'm': '--', 'n': '-.', 'o': '---', 'p': '.--.',
         'q': '--.-', 'r': '.-.', 's': '…', 't': '-',
         'u': '..-', 'v': '…-', 'w': '.--', 'x': '-..-',
         'y': '-.--', 'z': '--..'}

def morze_func(convert_str):
  return ' '.join([morze[i] for i in list(convert_str.lower())])

In [ ]:
print(morze_func('Help'))

…. . .-.. .--.

## Task 2*

In [ ]:
names = {}
a = int(input('Введите количество имен: '))
for i in range(a):
  name = input("Введите имя: ")
  if name not in names:
    names[name] = 1
    print('OK')
  else:
    print(name+str(names[name]))
    names[name] += 1

Введите количество имен: 10
Введите имя: bhnqaptmp
OK
Введите имя: bhnqaptmp
bhnqaptmp1
Введите имя: bhnqaptmp
bhnqaptmp2
Введите имя: bhnqaptmp
bhnqaptmp3
Введите имя:
OK
Введите имя: а\
OK
Введите имя: аам
OK
Введите имя: мявсмвс
OK
Введите имя: мвам
OK
Введите имя: цууу
OK

## Task 3*

In [ ]:
n = int(input())
lst = [input().split() for i in range(n)]
dct = {i[0]: ''.join(i[1:]) for i in lst}
a = int(input())
for i in range(a):
  commands = input().split()
  print('OK' if commands[0][0] in dct[commands[1]] or commands[0][1] in dct[commands[1]] else 'Access denied')

1
notebook.exe r w
1
execute notebook.exe
Access denide